/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
body{
    background-color: #FEFEFE;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* Це значення можна змінити в залежності від потреб вашого дизайну */
    background: var(--White, #FEFEFE);
/* Meny shadow */
box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999999;
}


@media screen and (min-width: 320px){
    .header-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .header-btn{
        fill: #7eb101;
        transition: fill 0.3s ease;
    }
    .header-btn:focus,
    .header-btn:hover {
        fill: #FFE550;
    }

    .mob-menu{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50px;
    right: 20px;
    padding: 16px;
    width: 130px;
    height: 255px;
    flex-shrink: 0;
    border-radius: 30px 0px 30px 30px;
    background: var(--White, #FEFEFE);
    /* Meny shadow */
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
    }
    .menu-link {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        transition: color 0.3s ease;
    }
    
    .menu-link:focus,
    .menu-link:hover {
        color: #A7CE47;
    }
    
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 32px;
    }
    .close-btn {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: fill 0.3s ease;
    }

    .close-btn:focus,
    .close-btn:hover{
        fill: #A7CE47;
    }

    .dek-nav{
        display: none;
    }

    .hero{
        padding-top: 132px;
        padding-bottom: 60px;
    }
    .hero-h{
        min-width: 280px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 28px;
    }
    .hero-p{
        min-width: 266px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 28px;

    }
    .hero-order{
        display: inline-flex;
        height: 32px;
        padding: 6px 18px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: var(--Black, #2C2C2C);
        text-align: right;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        border-radius: 30px;
        background: var(--Button-green, #BBF330);
        transition: color 0.3s ease;
    }
    .hero-order:focus,
    .hero-order:hover{
        color: #FEFEFE;
    }
    .hero-img{
        display: none;
    }

    .about{
        background-color: var(--Yellow-main, #FFE550);
    }
    .about-div{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-h{
        min-width: 280px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 27px;
    }
    .about-p{
        min-width: 272px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 28px;
    }
    .div-svg{
        border-radius: 50px;
        width: 48px;
        height: 48px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .about-svg{
        fill: #7EB101;
    }
    .about-list-h{
        width: 152px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
    }
    .about-list-p{
        min-width: 252px;    
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
    .about-list{
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-bottom: 40px;
    }
    .about-btn{
        color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        display: inline-flex;
        padding: 10px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: 2px solid var(--Dark-green, #7EB101);
        background-color: #FFF;
        transition: background-color 0.3s ease;
        margin-right: 24px;
    }
    .about-btn:hover,
    .about-btn:focus{
        background-color: #7EB101;
    }
    .about-link{
        color: var(--Black, #000);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        position: relative;
    }
    .arrow{
        position: absolute;
        top: 1.5px;
        left: 70px;
    }

    .about-div-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 256px;
        height: 256px;
        background-color: #FEFEFE;
        border-radius: 50%;
        position: relative;
    }
    .about-img-div{
        display: flex;
        width: 280px;
        height: 280px;
        border-radius: 280px;
        border: 5px solid rgba(255, 255, 255, 0.50);
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    .about-img{
        position: absolute;
        top: -10px
    }
    .about-tab-div{
        display: none;
    }
    .about-tab2-img{
        display: none;
    }
        .about-tab-second-img {
            display: none;
        }
    
        .about-tab-third-img {
            display: none;
        }

    .about-img-desk{
        display: none;
    }

    .order-form-div{
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        z-index: 999999;
        width: 320px;
        height: 449px;
        border-radius: 30px;
        background: #FFE550;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    }
    .close-div{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #FFF;
        transition: fill 0.3s ease;
    }
    .close-div:focus,
    .close-div:hover{
        fill: #7EB101;
    }

        .order-form {
            margin: 0 auto;
            padding: 32px 20px;
        }
    
        .form-h {
            text-align: center;
            color: #2C2C2C;
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 20px;
        }
    
        .form-label {
            display: block;
            color: #2C2C2C;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 2px;
            margin-left: 12px;
        }
    
        input[type="text"],
        input[type="tel"],
        input[type="email"]{
            margin-bottom: 24px;
            padding-left: 12px;
            width: 280px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 30px;
            border: 1px solid var(--Dark-green, #7EB101);
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
        }
        .form-btn {
            margin: 0 auto;
            margin-top: 8px;
            display: flex;
            width: 106px;
            padding: 10px 0px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            border: 2px solid var(--Dark-green, #7EB101);
            background: #FFF;
            color: var(--Black, #2C2C2C);
            font-family: Roboto;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.5;
        }

    .fav-container{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .fav{
        background-color: #FEFEFE;
    }
    .fav-h{
        width: 280px;
        color: #2C2C2C;
        text-align: center;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }
    .fav-p{
        width: 280px;
        color: #2C2C2C;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 60px;
    }

    .fav-list{
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .fav-item{
        transition: border 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 282px;
        flex-shrink: 0;
        border-radius: 139.658px;
        border: 11px solid var(--Yellow-main, #FFE550);
        background: var(--White, #FEFEFE);
    }
    .fav-item:hover,
    .fav-item:focus{
        border: 11px solid #BBF330;
    }
    .fav-item1{
        display: none;
    }

    .comments{
        background-color: #FFE550;
    }

    .com-div{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .com-h{
        width: 280px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }
    .com-p{
        width: 280px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 32px;
    }

    .com-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    .com-item{
        position: relative;
        padding-top: 7px;
        padding-left: 8px;
        padding-bottom: 11px;
        width: 280px;
        flex-shrink: 0;
        background-color: #fff;
        border-radius: 0 25px 25px 25px;
    }
    .com-svg{
        margin-bottom: 29px;
    }
    .com-item-p{
        width: 264px;
        color: #2C2C2C;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 41px;
    }

    .com-item-h{
        color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5; /* 21px */
    }

    .com-item-p2{
        color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5; /* 21px */
    }

    .com-item-sec{
        margin-bottom: 41px;
    }

    .item-div{
        position: absolute;
        bottom: 13px;
        left: 72px;
    }
    .item-div::after{
        content: "";
        width: 0.854px;
        height: 45px;
        position: absolute;
        right: -10px;
        bottom: -3px;
        background: #7EB101;
    }
}

@media screen and (min-width: 768px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .header-btn{
        display: none;
    }
    .dek-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .nav-desk{
        display: flex;
        gap: 28px;
    }
    .nav-desk-link{
        color: #000;   
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: none;
        transition: color 0.3s ease, text-decoration-line 0.3s ease;
    }
    .nav-desk-link:focus,
    .nav-desk-link:hover{
        color: #BBF330;
        text-decoration-line: underline;
    }
    .order-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--Black, #2C2C2C);
        text-align: right;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        /* 19.5px */
        display: flex;
        height: 32px;
         padding: 6px 18px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: var(--Button-green, #BBF330);
        transition: color 0.3s ease;
    }
    .order-btn:focus,
    .order-btn:hover{
        color: #FEFEFE;
    }
    .hero{
        position: relative;
        padding-bottom: 94px;
    }
    .hero-img{
        display: block;
        position: absolute;
        top: 196px;
        right: 46px;
        border-radius: 320px;
        border: 14px solid var(--Yellow-main, #FFE550);
        background: #FFF;
    }
    .hero-h{
        width: 537px;
        margin-bottom: 44px;
        color: #2C2C2C;        
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
    }
    .hero-p{
        width: 336px;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
    .about-img-div{
        display: none;
    }
    .about-tab-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 65px;
        width: 365.484px;
        height: 363.328px;
        transform: rotate(0.172deg);
        flex-shrink: 0;
        border-radius: 365.484px;
        border: 5px solid rgba(255, 255, 255, 0.50);    
    }
    .about-tab{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 334px;
        background-color: #FEFEFE;
        width: 334px;
        height: 333px;
    }

    .about-tab-img{
        position: absolute;
        top: -10px;
    }
    .about-div{
        position: relative;
    }
    .about-tab-second-img{
        display: inline;
        position: absolute;
        top: 151px;
        right: 178px;
    }
    .about-tab-third-img{
        display: inline;
            position: absolute;
            top: 220px;
            right: 12px;
    }

    .about-h{
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        width: 526px;
    }
    .about-p{
        width: 500px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    .about-list-p{
        width: 252px;
    }

    .about-list{
        flex-direction: row;
        gap: 116px;
        margin-bottom: 63px;
    }

    .order-form-div{
        width: 458px;
        height: 449px;
        padding: 32px auto; 
    }

        input[type="text"],
        input[type="tel"],
        input[type="email"] {
            width: 394px;
        }


    .fav-item{
        width: 336px;
        height: 338px;
        flex-shrink: 0;
        border-radius: 167.166px;
        border: 14px solid var(--Yellow-main, #FFE550);
        background: var(--White, #FEFEFE);
        transition: border 0.3s ease;
    }
    .fav-item1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 336px;
        height: 338px;
        flex-shrink: 0;
        border-radius: 167.166px;
        border: 14px solid var(--Yellow-main, #FFE550);
        background: var(--White, #FEFEFE);
        transition: border 0.3s ease;
    }
    .fav-item1:hover,
    .fav-item1:focus{
        border: 14px solid #BBF330;
    }

    .fav-list{
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
    }

    .fav-container{
        padding-bottom: 60px;
    }
    .fav-h{
        margin: 0 auto;
        margin-bottom: 20px;
        width: 656px;
        height: 49px;
        flex-shrink: 0;
        color: #2C2C2C;
        text-align: center;
        font-family: Roboto;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .fav-p{
        width: 656px;
        height: 18px;
        flex-shrink: 0;
        color: #2C2C2C;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .com-h{
        width: 501px;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 21.5px;
    }
    .com-p{
        width: 395px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 34.5px;
    }
    .com-list{
        flex-direction: row;
        gap: 32px;
    }
    .com-item{
        width: 336px;
        height: 261.889px;
        flex-shrink: 0;
        padding-top: 17px;
        padding-left: 12px;
        padding-bottom: 32px;
    }
    .com-svg{
        margin-bottom: 26px;
    }
    .com-item-p{
        width: 312px;
        height: 90.159px;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 29px;
    }

    .item-div{
        left: 76px;
        bottom: 34px;
    }


}
@media screen and (min-width: 1280px){
    .hero{
        padding-bottom: 170px;
        padding-top: 232px;
    }
    .hero-h{
        font-size: 48px;
        font-weight: 700;
    }
    .hero-p{
        width: 512px;
        font-size: 16px;
        font-weight: 400;
    }

    .hero-img{
        top: 131px;
        right: 24px;
        width: 511px;
        height: 511px;
        border-radius: 560px;
        border: 14px solid var(--Yellow-main, #FFE550);
        background: #FFF;
    }
    .about-img-div{
        display: none;
    }
    .about-tab-div{
        display: none;
    }
    .about-tab-second-img{
        display: none;
    }
    .about-tab-third-img{
        display: none;
    }
    .about-img-desk{
        display: inline-block;
    }

    .about-img-desk{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 550px;
        height: 550px;
        border-radius: 550px;
        border: 5px solid rgba(255, 255, 255, 0.50);
    }
    .about-desk-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 502px;
        height: 502px;
        border-radius: 502px;
        background: var(--White, #FEFEFE);
    }
    .about-second{
        position: absolute;
        top: 126px;
        left: 691px;
    }
    .about-div{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about-link{
        display: none;
    }

    .about-p{
        width: 500px;
        color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
    .about-list-p{
        line-height: 1.5;
        width: 253px;
    }
    .about-list{
        gap: 67px;
        margin-bottom: 67px;
    }

    .fav-container{
        padding-top: 100px;
        padding-bottom: 100px;

    }

    .fav-item,
    .fav-item1{
        width: 380px;
        height: 380px;
        flex-shrink: 0;
        border-radius: 197.5px;
        border: 16px solid var(--Yellow-main, #FFE550);
        background: var(--White, #FEFEFE);
    }
    .fav-item-img{
        width: 315px;
        height: 316px;
    }

    .fav-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fav-list{
        /* padding: 0 auto; */
        margin: 0 auto;
    }
    .fav-item,
    .fav-item1{
        margin: 0;
    }

    .com-div{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .com-h{
        width: 501px;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }
    .com-p{
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 32px;
 
    }
    .com-list{
        justify-content: start;
        gap: 140px;
    }


    .com-item{
        width: 501px;
        height: 227px;
        padding-top: 14px;
        padding-left: 14px;
        padding-bottom: 16px;
    }
    .com-item-p{
        width: 473px;
        height: auto;
        flex-shrink: 0;
        margin-bottom: 42px;
    }
    .item-div{
        left: 78px;
        bottom: 18px;
    }


    
}